# Godot 4+ specific ignores
.godot/

Scenes/Hom8AB.tmp

Scenes/Pla1ECE.tmp

Scenes/Pla2A77.tmp

Scenes/Pla49EB.tmp

Scenes/Pla64CA.tmp

Scenes/Pla67D7.tmp

Scenes/Pla68EB.tmp

Scenes/Sto3139.tmp

Scenes/Sto7276.tmp
